
* {
    box-sizing: border-box;
  }

#topnav {
    padding: 10px;
    margin: 10px;
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font: gray;
  }
#Drsepi {
    float: left;
    font-weight: bold;
    background-color: aquamarine;
    flex: 1;
    
}
a {
    display: block;
    padding: 15 px;
}
#floatright {
    float: right;
    padding-right: 20px;
    font-weight: bold;
}


 ul li {
    border-right: 1px solid #000;
    padding: 10px;
    }
    ul li:first-of-type{
        border-right: none;
        }

    @media all and (max-width: 640px) {  
    
            .top{  
              flex-wrap: wrap;  
            }  
              
            .top > li {  
              flex-basis: 50%;  
            }
          }
       
    
#photo1 {
    float: left;
    shape-image-threshold: initial;
    padding: 8px;
    width: 300px;
    max-width: 100%;
    height: auto,
  
}

section {
    border-bottom: 2.5rem;
    padding-bottom: 400px;
    border: black;
}
 footer {
     text-align: center;
       
     }
     
     #footer {
        position: fixed;
        bottom: 0;
        width: 100%;
      }


/* For mobile phones: */
[class*="col-"] {
    float: left;
   
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

  
